/****************************
          GLOBAL CSS
****************************/

/****************************
          VARIÁVEIS

:root
-------
Sumário
-------
A pseudo-classe CSS :root se equipara à raíz de uma árvore, que por sua vez representa o documento. Aplicado ao HTML, :root representa o elemento <html>  e é identico ao seletor html, exceto que sua especificidade é mais alta.

Exemplo
Usar :root pode ser útil para declarar uma variável CSS global:

:root {
  --main-color: hotpink;
  --pane-padding: 5px 42px;
}
****************************/
:root {
  --fira-sans: "Fira Sans", Arial, sans-serif;
}

/****************************/

/****************************
          RESET
****************************/
body {
  font-family: "Playfair Display", serif, sans-serif;
  margin: 0px;
  color: #141414;
  margin-bottom: 1000px;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.subtitulo{
  font-size: 8rem;
  line-height: 1;
  word-break: break-all;
  text-transform: uppercase;
  max-width: 4ch; /*Quando estiver bem espaçado, quebrará em 4 caracteres*/
}

@media (max-width: 800px){
  .subtitulo{
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
  }
}